
    <mat-card  style="text-align: center; height: 812px; background-color: #FFF4FF; padding-top: 200px;">
      <mat-card-header>
        <mat-card-title style="margin-bottom: 20px;"><h2>L'oggetto è stato caricato con successo! 🎊</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4 style="margin-bottom: 20px;">Grazie per aver contribuito a ridurre l'impatto ambientale 🌍</h4>
        
        <h4 mat-raised-button style="color: #4C0641;" (click)="goToHome()"><strong>Torna alla home</strong></h4>
      </mat-card-content>
    </mat-card>

  