<div style="position: fixed; width: 100%; z-index: 1000;">
  <div style="height: 48px; background-color: white;"></div>
  <mat-toolbar style="display: flex; justify-content: space-between; align-items: center; background-color: white; margin-top: 48px; margin-bottom: 130px; border-bottom: 1px solid rgb(147, 147, 147);">
    <img src="../../../assets/Logo_DonaTo.svg" alt="Logo Donato" height="30">
    <span class="spacer" style="background-color: white;"></span>
    <h1>DonaTo</h1>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="notifications">
      <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
      <span class="cdk-visually-hidden">Notifications</span>
    </button>
  </mat-toolbar>
</div>
