.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuisce gli elementi in modo uniforme tra i margini */
  }
  
  .product-card {
    width: 50%; /* Larghezza del 50% meno il margine per due colonne */
    margin-bottom: 10px; /* Margine inferiore tra le carte */
    padding: 0 10px; /* Padding opzionale per separare le carte */
    box-sizing: border-box; /* Assicura che il padding non aumenti la larghezza delle carte */
  }
  
  .product-image {
    width: 100%; /* Immagine larga al 100% del contenitore della carta */
    height: auto; /* Altezza automatica per mantenere l'aspetto originale */
    cursor: pointer; /* Cambia il cursore su hover per indicare che è cliccabile */
  }
  