<div style="text-align: start;">
  <!-- Header fisso -->
  <div style="height: 48px; background-color: white;"></div>
  <div>
      <div style="position: fixed; width: 100%; z-index: 1000; border-bottom: 1px solid rgb(147, 147, 147);">
        <mat-toolbar style="display: flex; justify-content: space-between; align-items: center; background-color: white">
          <div>
            <mat-icon (click)="goBack()">chevron_left</mat-icon>
          </div>
          <h1>Impostazioni</h1>
          <button mat-icon-button aria-label="notifications">
            <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
            <span class="cdk-visually-hidden">Notifications</span>
          </button>
        </mat-toolbar>
      </div>

      

  </div>
  




  <div style="padding: 20px; margin-top: 70px;">
    <!-- Titolo con icona allineata a destra -->
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 35px;" (click)="navigateToComponent('profile_details')">
      <div style="display: flex; align-items: center;">
        <h4 style="margin-bottom: 0;"><strong>Dettagli profilo</strong></h4>
      </div>
      <mat-icon style="cursor: pointer;">chevron_right</mat-icon>
    </div>

    <!-- Titolo con icona allineata a destra -->
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 35px;" (click)="navigateToComponent('notifications')">
      <div style="display: flex; align-items: center;">
        <h4 style="margin-bottom: 0;"><strong>Notifiche</strong></h4>
      </div>
      <mat-icon style="cursor: pointer;">chevron_right</mat-icon>
    </div>

    <!-- Titolo con icona allineata a destra e stile rosso -->
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px; color: red;" (click)="logout()">
      <div style="display: flex; align-items: center;">
        <h4 style="margin-bottom: 0;"><strong >Esci</strong></h4>
      </div>
      <mat-icon style="cursor: pointer;">exit_to_app</mat-icon>
    </div>
  </div>
</div>
