/* Stili per il container slideshow */
.slideshow-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
 width: 100vw;
  position: relative;
}


/* Stili per ciascuna slide */
.slide {
  display: none; /* Nasconde tutte le slide */
  flex: 0 0 100%;
}

.slide.active {
  display: block; /* Mostra solo la slide attiva */
}

.slide img {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

/* Stili per i puntini */
.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #CF2BBE;
}

/* Stili per i pulsanti precedente e successivo */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
