<!-- Header fisso -->
<div style="position: fixed; width: 100%; z-index: 1000; margin-top: 48px;">
  <mat-toolbar style="display: flex; justify-content: space-between; align-items: center; background-color: white">
    <mat-icon [routerLink]="['/home']">close</mat-icon>
    <span class="spacer"></span>
    <h1>Dettagli prodotto</h1>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="">
      <mat-icon>icon_name</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div style="height: 60px;"></div>

<!-- Container principale -->
<div class="product-container" fxLayout="column" fxLayoutAlign="center center">
  <!-- Titolo e dettagli -->
  <div fxLayout="column" style="width: 100%; max-width: 600px;">
    <mat-card-title style="text-align: left; margin-top: 100px; margin-left: 16px; margin-right: 16px;">
      <h1>{{ product?.title }}</h1>
    </mat-card-title>
    <p style="text-align: left; margin-left: 16px; margin-right: 16px;">📍 {{ product?.distance }}</p>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <h4 style="color: #CF2BBE; cursor: pointer; margin-left: 16px;" (click)="openGoogleMaps(product?.latitude, product?.longitude)">
        <strong>Indicazioni</strong>
      </h4>
      <p style="text-align: left; margin-right: 16px;"><strong>Aggiunto</strong> {{ daysSinceUpload }} giorni fa</p>
    </div>

    <!-- Slideshow delle immagini del prodotto -->
    <div class="slideshow-container" *ngIf="product && product.photos && product.photos.length > 0">
      <!-- Immagini dello slideshow -->
      <div class="slide" *ngFor="let photo of product.photos; let i = index" [class.active]="i === currentImageIndex">
        <img [src]="photo" alt="Immagine prodotto">
      </div>

      <!-- Pulsanti per immagine precedente e successiva -->
      <div class="prev" (click)="previousImage()">&#10094;</div>
      <div class="next" (click)="nextImage()">&#10095;</div>
    </div>

    <!-- Puntini per indicare le immagini -->
    <div class="dots-container" *ngIf="product && product.photos && product.photos.length > 0">
      <span class="dot" *ngFor="let photo of product.photos; let i = index" [class.active]="i === currentImageIndex"
            (click)="setCurrentImageIndex(i)"></span>
    </div>

    <div *ngIf="!product || !product.photos || product.photos.length === 0">
      <p>Nessuna immagine disponibile.</p>
    </div>

    <!-- Questo prodotto è di -->
    <div *ngIf="product?.owned && product?.owner?.id !== userId" style="text-align: end; margin-right: 16px;">
      Questo prodotto è di "{{ product?.owner?.username }}"
    </div>

    <div style="padding-bottom: 40px; margin-left: 16px; margin-right: 16px;">
      <h4 style="text-align: left; padding-top: 16px;">{{ product?.description }}</h4>
      
      <h4 style="text-align: left; margin-top: 16px;" *ngIf="getActionButtonLabel() === 'Segnala come assente' || getActionButtonLabel() === 'Segnala come presente'">
        <strong>Disponibile </strong>
        <span style="float: right;">{{ product?.available ? 'Sì' : 'No' }}</span>
      </h4>

      <h4 style="text-align: left; margin-top: 16px;"><strong>Categoria </strong><span style="float: right;">{{ product?.category }}</span></h4>
      <h4 style="text-align: left;"><strong>Condizioni </strong><span style="float: right;">{{ product?.productCondictions }}</span></h4>
      <h4 *ngIf="product?.disposalCode" style="text-align: left;"><strong>Codice di smaltimento </strong><span style="float: right;">{{ product?.disposalCode }}</span></h4>
    </div>
  </div>
</div>

<!-- Pulsante fisso in fondo -->
<div style="position: fixed; bottom: 10px; left: 50%; transform: translateX(-50%); z-index: 1000;">
  <button 
    mat-raised-button 
    type="button" 
    style="width: 350px; background-color: #CF2BBE; color: white;" 
    (click)="handleAction()"
    [disabled]="!product?.available">
    {{ getActionButtonLabel() }}
  </button>
</div>


