<footer class="footer">
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" style="justify-content: space-between;">
    <button mat-icon-button (click)="toggleColor('home')" [routerLink]="['/home']" [ngStyle]="{'color': activeIcon === 'home' ? '#CF2BBE' : 'black'}">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleColor('favorite')" [routerLink]="['/favorite']" [ngStyle]="{'color': activeIcon === 'favorite' ? '#CF2BBE' : 'black'}">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleColor('addProduct')" [routerLink]="['/addProduct']" [ngStyle]="{'color': activeIcon === 'addProduct' ? '#CF2BBE' : 'black'}">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleColor('request')" [routerLink]="['/request']" [ngStyle]="{'color': activeIcon === 'request' ? '#CF2BBE' : 'black'}">
      <mat-icon>sort</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleColor('profile')" [routerLink]="['/profile']" [ngStyle]="{'color': activeIcon === 'profile' ? '#CF2BBE' : 'black'}">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</footer>
