<div style="text-align: center; height: 812px; display: flex; flex-direction: column; justify-content: center; align-items: center;" *ngIf="!isRegistered">

  <div fxLayout="column">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="margin-top: 50px">
      <div>
        <button mat-icon-button (click)="goBack()" aria-label="Indietro">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div>
        <h2 style="margin: 0">Registrati</h2>
      </div>
      <div>

      </div>
    </div>
  </div>

  <img src="../../../assets/Logo_DonaTo.svg" alt="Logo DonaTo" style="width: 40px; height: auto; margin-top: 30px;">


 
  

  <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" style="margin-top: 30px;">

    <mat-form-field appearance="outline" style="width: 350px">
      <mat-label>Nome</mat-label>
      <input matInput type="text" name="name" required minlength="2" maxlength="50" ngModel>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="signupForm.controls['name'].errors?.['required']">Il nome è obbligatorio</mat-error>
      <mat-error *ngIf="signupForm.controls['name'].errors?.['minlength']">Il nome deve contenere almeno 2 caratteri</mat-error>
      <mat-error *ngIf="signupForm.controls['name'].errors?.['maxlength']">Il nome non può superare i 50 caratteri</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" style="width: 350px;">
      <mat-label>Cognome</mat-label>
      <input matInput type="text" name="surname" required minlength="2" maxlength="50" ngModel>
      <mat-icon matSuffix>persone</mat-icon>
      <mat-error *ngIf="signupForm.controls['surname'].errors?.['required']">Il cognome è obbligatorio</mat-error>
<mat-error *ngIf="signupForm.controls['surname'].errors?.['minlength']">Il cognome deve contenere almeno 2 caratteri</mat-error>
<mat-error *ngIf="signupForm.controls['surname'].errors?.['maxlength']">Il cognome non può superare i 50 caratteri</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" style="width: 350px;">
      <mat-label>Username</mat-label>
      <input matInput type="text" name="username" required minlength="4" maxlength="20" ngModel>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="signupForm.controls['username'].errors?.['required']">Lo username è obbligatorio</mat-error>
<mat-error *ngIf="signupForm.controls['username'].errors?.['minlength']">Lo username deve contenere almeno 4 caratteri</mat-error>
<mat-error *ngIf="signupForm.controls['username'].errors?.['maxlength']">Lo username non può superare i 20 caratteri</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" style="width: 350px;">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" required email ngModel>
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="signupForm.controls['email'].errors?.['required']">L'email è obbligatoria</mat-error>
<mat-error *ngIf="signupForm.controls['email'].errors?.['email']">L'indirizzo email non è valido</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" style="width: 350px;">
      <mat-label>Inserisci la password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" required minlength="8" maxlength="20" ngModel>
      <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Nascondi password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="signupForm.controls['password'].errors?.['required']">La password è obbligatoria</mat-error>
<mat-error *ngIf="signupForm.controls['password'].errors?.['minlength']">La password deve contenere almeno 8 caratteri</mat-error>
<mat-error *ngIf="signupForm.controls['password'].errors?.['maxlength']">La password non può superare i 20 caratteri</mat-error>
    </mat-form-field>
  
    <button
      mat-raised-button
      [ngStyle]="{ 'background-color': signupForm.valid ? '#CF2BBE' : '#CCCCCC', 'color': signupForm.valid ? 'white' : 'black' }"
      type="submit"
      [disabled]="signupForm.invalid"
      style="width: 350px; margin-top: 30px;">
      Accetta e continua
    </button>
  </form>
  

    
    <h5 style="width: 350px; margin-top: 10px; text-align: left; margin-left: 16px;">Selezionando <strong> Accetta e continua</strong>, accetto <span style="color: #CF2BBE;">Termini e condizioni di servizio</span> e riconosco <span style="color: #CF2BBE;">l'infomrativa sulla privacy</span>.</h5>
    
    
    <h4 style="width: 350px; margin-top: 40px; text-align: start; margin-left: 16px; background-color: #FFF4FF; padding: 10px;">Hai già un account? <a [routerLink]="['/login']" style="color: #CF2BBE;">Accedi qui</a></h4>

</div>


<div *ngIf="isRegistered" style="text-align: center; height: 812px; margin-top: 200px;">
  <h1 style="font-size: 3em; line-height: 1.4;">Grazie per la tua registrazione su DonaTo ✨</h1>

  <h4 style="margin-top: 40px;">Utilizza le tue credenziali per accedere alla piattaforma ed <span style="color: #CF2BBE;">unirti al cambiamento</span></h4>

  <button mat-raised-button style="background-color: #CF2BBE; width: 350px; margin-top: 20px; color: white;" [routerLink]="['/login']">Accedi</button>
</div>

